<div class="my-card hoverable"> <!-- Template to view posts on dashboard -->
  <div class="post">
    <a href="/post/{{id}}"><h1 class="p-title">{{title}}</h1></a> <!-- Route to view post -->
    <h2 class="p-user">{{ user.userName }}</h2>
    <p> {{ body }} </p>
  <div class="comment">
      <a href="/comment/{{id}}">Comment<i class="far fa-comment"></i></a> <!-- Also route to view post  -->
  </div>
    <p>Date: {{ get_date updated_at}}</p>
    <a class="c-user c-links" href="#">Update Post</a>
    <a class="c-user c-links c-m" href="#">Delete Post</a>
  </div>  
</div>