<div class="my-card hoverable"> <!-- Partial for viewing individual post in dashboard to update and delete -->
  <div class="post">
    <a href="/post/{{id}}"><h1 class="p-title">{{title}}</h1></a> <!-- Route to view post -->
    <h2 class="p-user">{{ user.userName }}</h2>
    <p> {{ body }} </p>
  <div class="comment">
      <a href="/comment/{{id}}">Comment<i class="far fa-comment"></i></a> <!-- Also route to view post  -->
  </div>
    <p class="time">Date: {{ get_date updated_at}}</p> 
    {{#if passThisToView}} <!-- Variable passed in here from view-comments. Checking if the user is logged in to update or delete comment -->
    <a id="updateBtn" class="waves-effect waves-light btn-small grey lighten-4 black-text">Update</a>
    <a id="deleteBtn" class="waves-effect waves-light btn-small grey lighten-4 black-text">Delete</a>
    {{/if}}
  </div>  
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src = "https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/js/post-action.js"></script>
<script src="/js/global.js"></script>